.wave-line {
	background: url(@/static/images/bolang.svg) repeat-x 0 100%;
	background-size: 20px auto;
}

.dot-mark {
	position: relative;
}

.dot-mark::before {
	position: absolute;
	top: 0.65em;
	left: 0px;
	width: 100%;
	white-space: nowrap;
	content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
	overflow: hidden;
}
 .tabs-fixed {
 	width: 100vw;
 	position: fixed;
    /* background-color: #FFFFFF; */
	background: #F0F0F0;
 	z-index: 10;
 	left: 0;
 	/* #ifndef APP-PLUS */
 	top: 44px;
 	/* #endif */
 	/* #ifdef APP-PLUS */
 	right: 3px;
 	/* #endif */
 }
 ::v-deep.segmented-control{
 	margin:7px 5px 0;
 }
 	
 .uni-list::before,.uni-list::after{
 		 height: 0;
 }